<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stayrascal.service.application.repository.QueryLogRepository">
    <select id="getQueryLogByUserId" resultType="QueryLog">
        SELECT * FROM query_logs WHERE userId = #{userId}
    </select>

    <insert id="addQueryLog" parameterType="QueryLog">
        UPSERT INTO query_logs (id, userId, query, resultCnt, clickItemId, createTime)
        VALUES (NEXT VALUE FOR query_logs_seq, #{log.userId}, #{log.query}, #{log.resultCnt}, #{log.clickItemId}, #{log.createTime})
    </insert>
</mapper>